.complete-div {
  border: 2px solid rgb(255, 255, 255);
  width: 450px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #888888;
}
.complete-div h1 {
  text-align: center;
}
.complete-div p {
  text-align: center;
}
.entry {
  display: flex;
  border: 2px solid rgb(255, 251, 251);
  justify-content: space-between;
  gap: 5px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}
.todo-item {
  gap: 5px;
}
.complete-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
